RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /searchbeta/ [L,R,QSA]

#RewriteRule ^search.html /searchbeta/ [L,R,QSA]

DirectoryIndex search.html
